.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2vh;
}
.head1-contact{
    font-family: Poppins;
    font-size: 2.2vw;
    font-weight: 700;
    color: #21243D;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    width: 90%;
}
.d1-div1-contact{
    width: 50%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    border: 2px solid black;
    border-radius: 10px;
}
.d1-div1-contact:hover{
    background-color: #9b9999;
    cursor: pointer;
}
.d1-mob-contact{
    font-family: Poppins;
    font-size: 1.2vw;
    color: #21243D;
    font-weight: 500;
}
.d1-img-contact{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.d1-div2-contact{
    width: 50%;
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1vw;
    border: 2px solid black;
    border-radius: 10px;
}
.d1-div2-contact:hover{
    background-color: #9b9999;
    cursor: pointer;
}
.d2-mob-contact{
    font-family: Poppins;
    font-size: 1.2vw;
    color: #21243D;
    font-weight: 500;
}
.d2-img-contact{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.head2-contact{
    font-size: 1.5vw;
    font-family: Poppins;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div2-contact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.d2-img1-contact{
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: grayscale(0%);
}
.d2-img1-contact:hover{
    filter: grayscale(100%);
}
.d2-img2-contact{
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: grayscale(0%);
}
.d2-img2-contact:hover{
    filter: grayscale(100%);
}
.d2-img3-contact{
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: grayscale(0%);
}
.d2-img3-contact:hover{
    filter: grayscale(100%);
}.d2-img4-contact{
    width: 30px;
    height: 25px;
    cursor: pointer;
    filter: grayscale(0%);
}
.d2-img4-contact:hover{
    filter: grayscale(100%);
}
.d2-img5-contact{
    cursor: pointer;
    filter: grayscale(0%);
    width: 30px;
    height: 30px;
}
.d2-img5-contact:hover{
    filter: grayscale(100%);
}
@media (max-width: 500px){
    .contact-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .head1-contact{
        font-family: Poppins;
        font-size: 6vw;
        font-weight: 700;
        color: #21243D;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div1-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vw;
        width: 90%;
    }
    .d1-div1-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4vh;
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
    }
    .d1-div1-contact:hover{
        background-color: #E5E5E5;
    }
    .d1-mob-contact{
        font-family: Poppins;
        font-size: 4vw;
        color: #21243D;
        font-weight: 500;
        position: relative;
        left: 3vw;
    }
    .d1-img-contact{
        width: 18px;
        height: 18px;
        position: relative;
        right: 3vw;
    }
    .d1-div2-contact{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 4vh;
        border: 2px solid black;
        border-radius: 10px;
        width: 100%;
    }
    .d1-div2-contact:hover{
        background-color: #E5E5E5;
    }
    .d2-mob-contact{
        font-family: Poppins;
        font-size: 3.3vw;
        color: #21243D;
        font-weight: 500;
        position: relative;
        left: 3vw;
    }
    .d2-img-contact{
        width: 18px;
        height: 18px;
        position: relative;
        right: 3vw;
    }
    .head2-contact{
        width: 90%;
        text-align: center;
        font-size: 4.2vw;
        font-family: poppins;
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .div2-contact{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5vw;
    }
    .d2-img1-contact{
        filter: grayscale(0%);
    }
    .d2-img1-contact:hover{
        filter: grayscale(0%);
    }
    .d2-img2-contact{
        filter: grayscale(0%);
    }
    .d2-img2-contact:hover{
        filter: grayscale(0%);
    }
    .d2-img3-contact{
        filter: grayscale(0%);
    }
    .d2-img3-contact:hover{
        filter: grayscale(0%);
    }
    .d2-img4-contact{
        filter: grayscale(0%);
    }
    .d2-img4-contact:hover{
        filter: grayscale(0%);
    }
    .d2-img5-contact{
        filter: grayscale(0%);
    }
    .d2-img5-contact:hover{
        filter: grayscale(0%);
    }
}