.land-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.land-top-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.top-nav-land{
    background-color: #E5E5E5;
    z-index: 1;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
}
.top-head-land{
    font-family: poppins;
    font-size: 1.7rem;
    font-weight: 500;
    cursor: pointer;
    color: #000000;
    position: relative;
    right: 3vw;
}
.top-head-land:hover{
    color: rgb(147, 131, 234);
    font-weight: 600;
}
.top-para-land{
    width: 100vw;
    height: 65vh;
    display: flex;
    flex-direction: row;
    gap: 5vw;
}
.top-div1-land{
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 60vw;
    position: relative;
    top: 10vh;
}
.top-para1-land{
    font-family: poppins;
    font-size: 2.7rem;
    color: #21243D;
    font-weight: 700;
    width: 50vw;
    position: relative;
    left: 8vw;
    bottom: 2vh;
}
.top-para2-land{
    font-family: poppins;
    font-size: 2rem;
    color: #21243D;
    font-weight: 500;
    width: 50vw;
    position: relative;
    left: 8vw;
    bottom: 9vh;
}
.top-para3-land{
    font-family: poppins;
    font-size: 1.2rem;
    color: #21243D;
    font-weight: 500;
    width: 50vw;
    position: relative;
    left: 8vw;
    bottom: 11vh;
}
.top-div2-land{
    background-color: rgb(147, 131, 234);
    border-radius: 100%;
    height: 55vh;
    display: flex;
    align-items: center;
    rotate: 45deg;
    position: relative;
    top: 12vh;
}
.top-div2-land:hover{
    background-color: rgb(28, 4, 168);
}
.top-img1-land{
    border-radius: 30%;
    rotate: -45deg;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.top-btn-land{
    background-color: #FF6B6B;
    border-radius: 10px;
    height: 8vh;
    width: 15vw;
    cursor: pointer;
    box-shadow: 0px 0px 25px 0px #00000026;
    position: relative;
    left: 8vw;
    top: 4vh;
}
.btn-para-land{
    font-family: poppins;
    color: #FFFFFF;
    font-size: 1.3rem;
    position: relative;
    bottom: 1vh;
    left: 1vw;
}
.top-btn-land:hover{
    opacity: 0.7;
}
@media (max-width: 768px) {
    .land-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .land-top-container{
        width: 100vw;
        height: 150vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .top-nav-land{
        visibility: hidden;
    }
    .top-head-land{
        visibility: hidden;
    }
    .top-nav1-land{
        background-color: #E5E5E5;
        z-index: 1;
        height: 5vh;
        width: 100vw;
        display: flex;
        justify-content: right;
        align-items: center;
        position: fixed;
        top: 0;
    }
    .nav-img1-land{
        position: relative;
        right: 4vw;
    }
    .top-nav2-land{
        background-color: #E5E5E5;
        box-shadow: 0px 0px 25px 0px #00000026;
        border-radius: 10px;
        height: 30vh;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        z-index: 1000;
        position: fixed;
        top: 5vh;
        left: 69vw;
    }
    .top-head1-land{
        font-family: poppins;
        font-size: 1rem;
        font-weight: 400;
        color: #21243D;
        display: flex;
        justify-content: center;
        position: relative;
        top: 1vh;
    }
    .null-para-land{
        width: 20vw;
        border: 2px solid #D7D7D7;
        border-radius: 2px;
        position: relative;
        left: 4.5vw;
    }
    .top-para-land{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        position: relative;
        bottom: 5vh;
    }
    .top-div1-land{
        display: flex;
        flex-direction: column;
        width: 100vw;
        position: relative;
        top: 0vh;
    }
    .top-para1-land{
        width: 94vw;
        position: relative;
        left: 3vw;
    }
    .top-para2-land{
        width: 94vw;
        position: relative;
        left: 3vw;
    }
    .top-para3-land{
        width: 94vw;
        position: relative;
        left: 3vw;
        bottom: 13vh;
    }
    .top-div2-land{
        background-color: rgb(147, 131, 234);
        border-radius: 100%;
        display: flex;
        align-items: center;
        rotate: -45deg;
        position: relative;
        top: 23vh;
    }
    .top-div2-land:hover{
        background-color: rgb(28, 4, 168);
    }
    .top-img1-land{
        width: 65vw;
        height: 30vh;
        border-radius: 30%;
        rotate: 45deg;
        box-shadow: 0px 0px 25px 0px #00000026;
        position: relative;
        bottom: 0vh;
        left: 18vw;
    }
    .top-btn-land{
        background-color: #FF6B6B;
        border-radius: 10px;
        height: 5vh;
        width: 60vw;
        cursor: pointer;
        box-shadow: 0px 0px 25px 0px #00000026;
        position: relative;
        left: 20vw;
        top: 30vh;
    }
    .btn-para-land{
        font-family: poppins;
        color: #FFFFFF;
        font-size: 1.3rem;
        position: relative;
        bottom: 2.5vh;
        left: 3vw;
    }
    #about{
        position: relative;
        top: 18vh;
    }
    #skills{
        position: relative;
        top: 18vh;
    }
    #works{
        position: relative;
        top: 30vh;
    }
    #contact{
        position: relative;
        top: 30vh;
    }
}
