.tech-container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
}
.top-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head1-tech{
    font-family: Poppins;
    font-size: 2vw;
    color: #21243D;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-div-tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}
.tech-div-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21243D;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 1vh 0.25vw 0vw 0.25vw;
}
.tech-div-tech:hover{
    opacity: 0.7;
}
.img1-tech{
    width: 7vw;
    height: 12vh;
}
.para1-tech{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    color: #FFFFFF;
}
.foot-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head2-tech{
    font-family: Poppins;
    font-size: 2vw;
    color: #21243D;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-div-tech{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5vw;
}
.tool-div-tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #21243D;
    border-radius: 10px;
    box-shadow: 0px 0px 25px 0px #00000026;
    padding: 1vh 0.25vw 0vw 0.25vw;
}
.tool-div-tech:hover{
    opacity: 0.7;
}
.img2-tech{
    width: 7vw;
    height: 12vh;
}
.para2-tech{
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
    text-align: center;
    color: #FFFFFF;
}
@media (max-width: 500px) {
    .tech-container{
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .top-tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .head1-tech{
        font-family: Poppins;
        font-size: 6vw;
        color: #21243D;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-div-tech{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
    }
    .tech-div-tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #21243D;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px #00000026;
        padding: 1vh 0.5vw 0vw 0.5vw;
    }
    .tech-div-tech:hover{
        opacity: 1;
    }
    .img1-tech{
        width: 30vw;
        height: 15vh;
    }
    .para1-tech{
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
        text-align: center;
        color: #FFFFFF;
    }
    .head2-tech{
        font-family: Poppins;
        font-size: 6vw;
        color: #21243D;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foot-div-tech{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3vw;
    }
    .tool-div-tech{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #21243D;
        border-radius: 10px;
        box-shadow: 0px 0px 25px 0px #00000026;
        padding: 1vh 0.5vw 0vw 0.5vw;
    }
    .tool-div-tech:hover{
        opacity: 1;
    }
    .img2-tech{
        width: 30vw;
        height: 15vh;
    }
    .para2-tech{
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
        text-align: center;
        color: #FFFFFF;
    }
}