.project-container{
    width: 100vw;
    background-color: #cee9f1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-container:hover{
    box-shadow: 0px 0px 25px 0px #00000026;
}
.head1-project{
    font-family: poppins;
    font-size: 2.2vw;
    color: #21243D;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p1-div-project{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}
.img1-project{
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.div1-project{
    text-align: justify;
}
.p1-h1-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5vw;
}
.p1-h2-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
}
.p1-h3-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
}
.p1-img-div-project{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
.p1-img1-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p1-img1-project:hover{
    filter: grayscale(100%);
}
.p1-img2-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p1-img2-project:hover{
    filter: grayscale(100%);
}
.null-div1-project{
    width: 90%;
    border: 2px solid #D7D7D7;
    border-radius: 2px;
}
.p2-div-project{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}
.img2-project{
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.div2-project{
    text-align: justify;
}
.p2-h1-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5vw;
}
.p2-h2-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
}
.p2-h3-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
}
.p2-img-div-project{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
.p2-img1-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p2-img1-project:hover{
    filter: grayscale(100%);
}
.p2-img2-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p2-img2-project:hover{
    filter: grayscale(100%);
}
.null-div2-project{
    width: 90%;
    border: 2px solid #D7D7D7;
    border-radius: 2px;
}
.p3-div-project{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}
.img3-project{
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.div3-project{
    text-align: justify;
}
.p3-h1-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5vw;
}
.p3-h2-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
}
.p3-h3-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
}
.p3-img-div-project{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
.p3-img1-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p3-img1-project:hover{
    filter: grayscale(100%);
}
.p3-img2-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p3-img2-project:hover{
    filter: grayscale(100%);
}
.null-div3-project{
    width: 90%;
    border: 2px solid #D7D7D7;
    border-radius: 2px;
}
.p4-div-project{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5vw;
}
.img4-project{
    width: 50vw;
    height: 40vh;
    border-radius: 20px;
    box-shadow: 0px 0px 25px 0px #00000026;
}
.div4-project{
    text-align: justify;
}
.p4-h1-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 700;
    font-size: 1.5vw;
}
.p4-h2-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1vw;
}
.p4-h3-project{
    color: #21243D;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1vw;
}
.p4-img-div-project{
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
}
.p4-img1-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p4-img1-project:hover{
    filter: grayscale(100%);
}
.p4-img2-project{
    width: 30px;
    height: 30px;
    filter: grayscale(0%);
    cursor: pointer;
}
.p4-img2-project:hover{
    filter: grayscale(100%);
}
.null-div4-project{
    width: 90%;
    border: 2px solid #D7D7D7;
    border-radius: 2px;
}
@media (max-width: 500px){
    .project-container{
        width: 100vw;
        background-color: #cee9f1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 25px 0px #00000026;
    }
    .head1-project{
        font-family: Poppins;
        font-size: 6vw;
        color: #21243D;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .p1-div-project{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
    }
    .img1-project{
        width: 100%;
        height: 20vh;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px #00000026;
    }
    .div1-project{
        width: 90%;
        text-align: left;
    }
    .p1-h1-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 700;
        font-size: 4.2vw;
    }
    .p1-h2-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.5vw;
    }
    .p1-h3-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
    }
    .p1-img-div-project{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .p1-img1-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p1-img1-project:hover{
        filter: grayscale(0%);
    }
    .p1-img2-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p1-img2-project:hover{
        filter: grayscale(0%);
    }
    .null-div1-project{
        width: 90%;
        border: 2px solid #D7D7D7;
        border-radius: 2px;
    }
    .p2-div-project{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
    }
    .img2-project{
        width: 100%;
        height: 20vh;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px #00000026;
    }
    .div2-project{
        width: 90%;
        text-align: left;
    }
    .p2-h1-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 700;
        font-size: 4.2vw;
    }
    .p2-h2-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.5vw;
    }
    .p2-h3-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
    }
    .p2-img-div-project{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .p2-img1-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p2-img1-project:hover{
        filter: grayscale(0%);
    }
    .p2-img2-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p2-img2-project:hover{
        filter: grayscale(0%);
    }
    .null-div2-project{
        width: 90%;
        border: 2px solid #D7D7D7;
        border-radius: 2px;
    }
    .p3-div-project{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
    }
    .img3-project{
        width: 100%;
        height: 20vh;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px #00000026;
    }
    .div3-project{
        width: 90%;
        text-align: left;
    }
    .p3-h1-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 700;
        font-size: 4.2vw;
    }
    .p3-h2-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.5vw;
    }
    .p3-h3-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
    }
    .p3-img-div-project{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .p3-img1-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p3-img1-project:hover{
        filter: grayscale(0%);
    }
    .p3-img2-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p3-img2-project:hover{
        filter: grayscale(0%);
    }
    .null-div3-project{
        width: 90%;
        border: 2px solid #D7D7D7;
        border-radius: 2px;
    }
    .p4-div-project{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 1vw;
    }
    .img4-project{
        width: 100%;
        height: 20vh;
        border-radius: 20px;
        box-shadow: 0px 0px 25px 0px #00000026;
    }
    .div4-project{
        width: 90%;
        text-align: left;
    }
    .p4-h1-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 700;
        font-size: 4.2vw;
    }
    .p4-h2-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.5vw;
    }
    .p4-h3-project{
        color: #21243D;
        font-family: Poppins;
        font-weight: 400;
        font-size: 3.8vw;
    }
    .p4-img-div-project{
        display: flex;
        flex-direction: row;
        gap: 1vw;
    }
    .p4-img1-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p4-img1-project:hover{
        filter: grayscale(0%);
    }
    .p4-img2-project{
        width: 30px;
        height: 30px;
        filter: grayscale(0%);
    }
    .p4-img2-project:hover{
        filter: grayscale(0%);
    }
    .null-div4-project{
        width: 90%;
        border: 2px solid #D7D7D7;
        border-radius: 2px;
    }
}